<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gss.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favs/gss.ico') }}">
    <script src="https://kit.fontawesome.com/4a94c21782.js" crossorigin="anonymous"></script>
    <script>
        function copyToClipboard() {
            const code = document.querySelector("#result code");
            const range = document.createRange();
            range.selectNode(code);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            try {
                const successful = document.execCommand('copy');
            } catch (err) {
                console.error('COMPLETLY FAILED: ', err);
            }
            window.getSelection().removeAllRanges();
        }
    </script>
</head>
<body>
<body>
    <div id="title">
        <h1>GSS - Great Style Sequence</h1>
        <p>Simply put in your HTML and your CSS code and your CSS code will be sorted based on the HTML and based on the properties!</p>
    </div>
    {% if not cssresult %}
        <form method="POST" action="/gss/result">
            <div class="formfieldscontainer {% if cssresult %}min{% endif %}">
                <div class="formfield">
                    <label for="htmlinput">HTML</label>
                    <textarea name="htmlinput"></textarea>
                </div>
                <div class="formfield">
                    <label for="cssinput">CSS</label>
                    <textarea name="cssinput"></textarea>
                </div>
            </div>
            <input type="submit" value="Put in order!">
        </form>
    {% endif %}
    {% if cssresult %}
        <div id="result">
            <button onclick="copyToClipboard()">Copy <i class="fa-solid fa-copy"></i></button>
            <pre><code>{{ cssresult }}</code></pre>
        </div>
    {% endif %}

</body>
</body>
</html>